spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: ${DB_URL}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  kafka:
    bootstrap-servers: kafka:9092

  mail:
    host: mailpit
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

server:
  port: 8084

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8070/eureka/

app:
  kafka:
    consumer:
      notification-group-id: notification-service
    topics:
      order-created: order-topic
      payment-completed: payment-topic
      payment-failed: payment-topic

notification:
  default-sender: "no-reply@ecommerce.local"